* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  h1 {
      animation-duration: 3s;
      animation-name: slidein;
  
  }
  
      @keyframes slidein{
      from{
          margin-top: 100%;
          width: 300;
      }
  
      to {margin-top: 0%;
      width: 100%;
  
      }
  
  }