@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
}
body {
  font-family: "Righteous", "Signika Negative", sans-serif;
  font-weight: 300;
}


.section {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg1 {
  background-color: #ff44ef;
}
.bg2 {
  background-color: rgb(0, 153, 0);
}
h1 {
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
  position: absolute
}

h2 {
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
  position: absolute;
  color:rgb(60, 60, 60)
}
a{
  font-size: 50px;
}
a:link{
  color:blueviolet;
}
a:hover{
  color:pink;
}
a:active{
  color:purple;
}
.five-pointed-star {
  --star-color:rgb(255, 255, 255);
  margin:1em auto;
  font-size:10em;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
  animation: beat 1s infinite alternate;
	transform-origin: center;
 }
 .five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content:"";
  transform: rotate(-35deg);


 }
 .five-pointed-star:after {
  position: relative;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content:"";

  
 }


/* heart div class - in html i used just a simple html simbol entity for heart sign, you can use text or whatever u want*/



@keyframes beat{
  0%, 100% {

    transform: scale(2);
    transform: rotate(40deg)
}

50% {

    transform: scale(0.8);
    transform: rotate(20deg)

}



100% {

    transform: scale(1.2);


}


}