
*  {
  box-sizing: border-box;
}


h1{
    font-family: "Righteous";
    animation-duration: 3s;
    animation-name: slidein

}
h4{
  font-family: "Righteous";
  animation-duration: 3s;
  animation-name: slidein;
}

a:link{
  color:blueviolet;
}
a:hover{
  color:pink;
}
a:active{
  color:purple;
}

  
  .column {
    float: center;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  

  @keyframes slidein{
    from{
        margin-top: 100%;
        width: 300;
    }

    to {margin-top: 2.7%;
    width: 100%;

    }

}
.characters{

  position: center;
}
.sanaimg{


  padding: 4px;
  position: center;
  right: 800px
}
.gasterimg{
  position: center;
  right: 650px

}
.scarabassimg{

  position: center;
  padding: 4px;
  right: 500px

  
}
head{
  animation-duration: 3s;
  animation-name: slidein;
  
}

.small {
  zoom: 75%;
}
.cell {
	display: table-cell;
}
@import url(https://fonts.googleapis.com/css?family=Exo:100);
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }

}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body{

    background-image: linear-gradient(rgb(255, 157, 191), rgb(255, 255, 255));

  /* img size is 50x50 */
  background: url("https://3raulo9.github.io/images_de_site/dotsbg2.png") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  font: 21px triksterfont;
  font-size: 2vw;
  text-decoration: underline; 
  text-align: center;
  position: relative; top:-40px;
  
  }


